@charset "UTF-8";
 
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
 
body {
  margin: 0;
}

.logo {
	background-image: url(http://www.yunsuan.org/static/tass/images/logo.png);
	background-repeat: no-repeat;
	height: 90px;
}

.nyr {
	height: 2rem;
	width: 1rem;
	float: left;	
} 
a {
  background-color: transparent;
}
 
a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}
 
hr {
  box-sizing: content-box;
  height: 0;
}
 
input,
select {
  color: inherit;
  font: inherit;
  margin: 0;
} 
select {
  text-transform: none;
}
 
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
 
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
 
input {
  line-height: normal;
}
@media print { 
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
 
  a,
  a:visited {
    text-decoration: underline;
  }
 
  a[href]:after {
    content: " (" attr(href) ")";
  }
 
  img {
    page-break-inside: avoid;
  }
 
  img {
    max-width: 100% !important;
  }
 
  p,
  h3 {
    orphans: 3;
    widows: 3;
  }
 
  h3 {
    page-break-after: avoid;
  }

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
 
body {
	font-size: 1rem;
	line-height: 1.42857143;
	color: #333333;
	background-color: #fff;
}
 
input,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
 
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  font-size: 24px;
}

p {
  margin: 0 0 10px;
}
.container:before, .container:after {
  content: " ";
  display: table;
} 
.container:after {
  clear: both;
}


.row {

} 
.row:before, .row:after {
  content: " ";
  display: table;
} 
.row:after {
  clear: both;
}
 
.col-sm-2, .col-sm-4, .col-sm-6, .col-sm-8, .col-md-9 {
	min-height: 1px;
		
	
}

@media (min-width: 786px) {
    html {
	    font-size:20px;
    }
  .col-sm-2, .col-sm-4, .col-sm-6, .col-sm-8 {
    float: left;
	
  }

  .col-sm-2 {
	width: 6rem;
  }

   .col-sm-4 {
    width: 11rem;
  }
  .col-sm-5 {
	width: 6rem;
  }
  .col-sm-6 {
	width: 22rem;
  }

  .col-sm-8 {
    width: 12rem;
  }
.control-label{width: 7rem;}
}
   .container {
	margin: 5px;

  }
    @media (max-width: 785px){
		    html {
	    font-size:30px;
    }
		.row {
	margin: 0px;
}
   .container {
    width: 98%;
  }
  .col-sm-6 .col-sm-4 .col-sm-8{
    
	width: 80%;
	
  }

  .col-sm-2 {
	width: 50%;float: left;
  }

 
.control-label{
	width: 100%;
	float: none;
}
    }

  .col-md-9 {

  }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control {
	display: block;
	width: 100%;
	height: 1.5rem;
	padding: 3px;
	font-size: 1rem;
	line-height: 1.42857143;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	float: left;
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[readonly] {
  background-color: #eeeeee;
  opacity: 1;
}
.form-group {
	margin-bottom: 5px;
	clear: none;
}


.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
} 
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  content: " ";
  display: table;
} 
.form-horizontal .form-group:after {
  clear: both;
}

 
 
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 6px;
  font-size: 1rem;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 
.btn:focus, .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
} 
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
} 
.btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
} 
.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
} 
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
} 
.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
} 
.btn-primary:active:hover, .btn-primary:active:focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
} 
.btn-primary:active {
  background-image: none;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
 
.panel-body {
	padding-right: 15px;
	padding-left: 15px;
	margin: 10px;
} 
.panel-body:before, .panel-body:after {
  content: " ";
  display: table;
} 
.panel-body:after {
  clear: both;
}




select {
  height: 2em;
}


.panel-black {
  border-color: #666;
}


.panel-app select {
  padding-top: 0;
  padding-bottom: 0;
}
#MathJax_Message {position: fixed; left: 1em; bottom: 1.5em; background-color: #E6E6E6; border: 1px solid #959595; margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap}
.col-sm-4 {
	float: left;
}
